body {
   font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ff8c00;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.ingredients ul,
.instructions ol {
    margin: 20px;
    padding: 20px;
    list-style-position: inside;
}

.ingredients li,
.instructions li {
    margin-bottom: 20px;
}

h3{
    padding: 1px 0;
    width: 100%;
    font-weight: 60px;
    font-style: italic;
    bottom: 0;
}

footer {
    background-color: #ff8c00;
    color: white;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}